# These are my Python exercises

In [214]:
x=20 * 4
print (x)

80

In [215]:
x=20
y=4
print (x * y)

80

In [216]:
print (20 * 4)

80

In [217]:
x=20
x*=4
print (x)

80

In [218]:
a=100
b=50
if a>b:
    print ("I've mastered decision making")

I've mastered decision making

In [219]:
a=50
b=100
c=200
if b>a and b>c:
    print ("I'm right")

In [220]:
food_good =["Pad Thai", "Medium Well Steak","mushroom"]
print (food_good)
print (food_good[0])
print (food_good[1])
print (food_good[2])

['Pad Thai', 'Medium Well Steak', 'mushroom']
Pad Thai
Medium Well Steak
mushroom

In [221]:
footuple = ("cucumber","carrot","celery")
print (footuple)
print (footuple[0])
print (footuple[1])
print (footuple[2])

('cucumber', 'carrot', 'celery')
cucumber
carrot
celery

In [222]:
sfood = {"ice cream","chocolate","M&M"}
print (sfood)
print ("chocolate")
print ("ice cream")
print ("M&M")

{'chocolate', 'ice cream', 'M&M'}
chocolate
ice cream
M&M

In [223]:
foodict = {"pad thai":"list",
           "cucumber":"tuple",
           "ice cream":"set"}
print (foodict)
x = foodict ["pad thai"]
c = foodict ["cucumber"]
z = foodict ["ice cream"]
print (x)
print (c)
print (z)

{'pad thai': 'list', 'cucumber': 'tuple', 'ice cream': 'set'}
list
tuple
set

In [266]:
sum = 0
for i in range(500):
    sum += i
print(sum)

124750

In [9]:
import sqlite3
def createTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    mycursor.execute("CREATE TABLE FavFood (id INTEGER PRIMARY KEY, food VARCHAR(255), type VARCHAR(255))")
    mydb.close()

In [10]:
def FillTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "INSERT INTO FavFood (food, type) VALUES (?, ?)"
    val = [
    ('pad thai', 'thai food'),
    ('cucumber', 'vegetable'),
    ('frosted flakes', 'breakfast'),
    ('pear', 'friut'),
    ('ice cream', 'desert'),
    ]
    mycursor.executemany(sql, val)
    print(mycursor.rowcount)        # check how many rows entered
    mydb.commit()
    mydb.close()

In [241]:
def ViewTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "SELECT * FROM FavFood ORDER BY food"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
    for x in myresult:
        print(x)
    mydb.close()

In [8]:
def DeleteTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "DROP TABLE IF EXISTS FavFood"
    mycursor.execute(sql)
    mydb.close()

In [243]:
DeleteTable()
createTable()
FillTable()
ViewTable()

5
(2, 'cucumber', 'vegetable')
(3, 'frosted flakes', 'breakfast')
(5, 'ice cream', 'desert')
(1, 'pad thai', 'thai food')
(4, 'pear', 'friut')