# Data Base & setup

In [ ]:
import random
import sqlite3

In [ ]:
def createTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    mycursor.execute("CREATE TABLE triviaQs (id INTEGER PRIMARY KEY, question VARCHAR(255), answer VARCHAR(255), sub category VARCHAR(255))")
    mydb.close()

In [ ]:
def FillTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "INSERT INTO triviaQs (question, answer, sub category) VALUES (?, ?, ?)"
    val = [
    ('The highest place on earth is located in witch country?', 'Nepal, In Nepal', 'asia'),
    ('The Taj Mahal is located in which Indian city?', 'Agra, In Agra', 'asia', ),
    ('what is the name of the lowest place in the world?', 'Death sea, The Death sea', 'asia'),
    (' What mountain range runs along the northern border of India?', 'Himalayan Mountains, the Himalayas'),
    ('What is the capital of Afghanistan?', 'Kabul'), 
    ('Which artificial waterway connects the Pacific Ocean to the Atlantic Ocean','Panama kanal, the Panama kanal', 'water'), 
    ('Which is the longest river in the world?', 'the nile river', 'water'), 
    ('What is the largest lake in Africa?', 'lake victoria', 'water'), 
    ('The river Liffey flows through the center of which European city?', 'dublin', 'water'), 
    ('. Apart from the five oceans, which is the largest sea in the world', 'The Philippines Sea', 'water')
    ('what is the largest')]
    mycursor.executemany(sql, val)
    print(mycursor.rowcount)
    mydb.commit()
    mydb.close()